<div class="d-flex flex-row justify-content-end">
    <div class="input-group mb-3 w-25 me-auto">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-warning h-50" data-bs-toggle="modal" data-bs-target="#edit_units"><b>Edit Units&nbsp;</b> <i class="fas fa-clipboard-list"></i></button>
    <button type="button" class="btn btn-primary h-50 ms-3" data-bs-toggle="modal" data-bs-target="#edit_category"><b>Edit Categories&nbsp;</b> <i class="fas fa-clipboard-list"></i></button>
    <button type="button" class="btn btn-success h-50 ms-3" data-bs-toggle="modal" data-bs-target="#stockInInvoice"><b>Stock-In Invoice</b> <i class="fas fa-plus-circle"></i></button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="mainCheck" onchange="checkAll()">
                </div>  
            </th>
            <th scope="col">ID</th>
            <th scope="col">Inventory Item Name</th>
            <!-- <th scope="col">Date Stocked-In</th> -->
            <th scope="col">Supplier</th>
            <th scope="col">Category</th>
            <th scope="col">Unit</th>
            <th scope="col">Before</th>
            <th scope="col">Used</th>
            <th scope="col">Ending</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <%var id = 1%>
        <% for(inventoryItem of tableData){ %>
            <tr>
                <td><input class="form-check-input" type="checkbox" value='<%=inventoryItem["_id"]%>' name="checkRow"></td>
                <td><%=id%></td>
                <td><%=inventoryItem["inventoryItemName"]%></td>
                <!-- <td><%=inventoryItem["inventoryStockInDate"]%></td> -->
                <td><%=inventoryItem["inventoryItemSupplier"]%></td>
                <td><%=inventoryItem["inventoryItemCategory"]%></td>
                <td><%=inventoryItem["inventoryItemUnit"]%></td>
                <td><%=inventoryItem["inventoryItemBefore"]%></td>
                <td>0</td>
                <td>0</td>
            </tr>
        <%id++}%>
      </tbody>
</table>

<!-- Stock-In Modal -->
<div class="modal fade" id="stockInInvoice" tabindex="-1" aria-labelledby="stockInInvoice" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Title -->
        <div class="modal-header bg-success">
            <h5 class="modal-title text-light" id="stockInInvoice">Stock-In Through Invoice</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="stockInInvoice" method="POST">        
                <div class="input-group mb-3 row me-auto">
                    <label for="dateOfPurchase" class="col-sm-3 col-form-label"><b>Date of Purchase: </b></label>
                    <div class="col-sm-5">
                        <input type="date" class="form-control" id="dateOfPurchase" name="inventoryPurchaseDate">
                    </div>
                </div>
                <table class="table" id="inputTable">
                    <thead>
                        <tr>
                            <th style="width: 30%">Ingredient Name</th>
                            <th style="width: 20%">Supplier</th>
                            <th style="width: 20%">Category</th>
                            <th style="width: 15%">Unit</th>
                            <th style="width: 15%">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>     
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <div class="d-flex flex-row">
                                    <a class="btn" onclick="addRow()"><b><i class="fas fa-plus-circle text-success"></i></b></a>
                                    <a class="btn" onclick="removeRow()"><b><i class="fas fa-minus-circle text-danger"></i></b></a>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="mb-3 row">
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-success me-2" type="submit">Stock In</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Inventory Category Modal -->
<div class="modal fade" id="edit_category" tabindex="-1" aria-labelledby="editCategoryModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="editCategoryModal">Edit Inventory Categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add Category" id="addCategory">
                    <button class="btn btn-success" type="button" onclick="addCategoryRow()">Submit</button>
                </div>
                <form action="editInventoryCategory" method="post">
                    <table class="table" id="categoryTable">
                        <thead>
                            <tr>
                                <th scope="col">Category Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%var categoryId = 1;%>
                            <%if(categories[0] != undefined){ for(category of categories[0]["categoryArray"]){%>
                                <tr id="categoryRow<%=categoryId%>">
                                    <td><input hidden value=<%=category%> name="categories"><%=category%></td>
                                    <td>
                                        <a class="btn btn-sm text-danger h-25" id="removeCategory" onclick="removeCategoryRow('<%=categoryId%>')"><i class="fas fa-minus-circle"></i></a>
                                    </td>  
                                </tr>
                            <%categoryId++}}%>
                        </tbody>
                    </table>
                    <div class="mb-3 row">
                        <div class="d-flex flex-row-reverse">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary me-2" type="submit">Submit Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Inventory Units Modal -->
<div class="modal fade" id="edit_units" tabindex="-1" aria-labelledby="editUnitsModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="editUnitModal">Edit Inventory Units</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add Unit" id="addUnit">
                    <button class="btn btn-success" type="button" onclick="addUnitRow()">Submit</button>
                </div>
                <form action="editInventoryUnits" method="post">
                    <table class="table" id="unitTable">
                        <thead>
                            <tr>
                                <th scope="col">Unit Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%var unitId = 1;%>
                            <%if(units[0] != undefined){for(unit of units[0]["unitArray"]){%>
                                <tr id="unitRow<%=unitId%>">
                                    <td><input hidden value="<%=unit%>" name="units"><%=unit%></td>
                                    <td>
                                        <a class="btn btn-sm text-danger h-25" id="removeUnit" onclick="removeUnitRow('<%=unitId%>')"><i class="fas fa-minus-circle"></i></a>
                                    </td>  
                                </tr>
                            <%unitId++}}%>
                        </tbody>
                    </table>
                    <div class="mb-3 row">
                        <div class="d-flex flex-row-reverse">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-warning me-2" type="submit">Submit Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    var categories = JSON.parse('<%-JSON.stringify(categories)%>');
    var units = JSON.parse('<%-JSON.stringify(units)%>');

    var checkedRowsArray = [];
    var checkedRowItems;
    var checkRows = document.getElementsByName("checkRow");
    var mainCheck = document.getElementById("mainCheck");
    var inputTable = document.getElementById("inputTable");

    // For Edit Category modal
    var editCategoryTable = document.getElementById("categoryTable");
    var editCategoryModal = document.getElementById('edit_category');
    var addCategory = document.getElementById("addCategory");

    // For Edit Units modal
    var editUnitsModal = document.getElementById("edit_units");
    var editUnitTable = document.getElementById("unitTable");
    var addUnit = document.getElementById("addUnit");

    var stockInModal = document.getElementById("stockInInvoice");
    addRow();

    // Checks all the checkboxes when the main check box is checked.
    function checkAll(){
        checkedRowsArray = []; // Clear checked checkboxes first.
        if(mainCheck.checked){ // If Main Check is checked, loop through all checkboxes and change value to true.
            for(row of checkRows){
                row.checked = true;
                checkedRowsArray.push(row.value);
            }
            if(checkedRowsArray.length > 0){
                checkedRowItems = checkedRowsArray.map(id => {
                    for(menuItem of data){
                        if(menuItem["_id"] == id) {
                            return `<li class="list-group-item"><input class="form-check-input" type="checkbox" value="`+ menuItem["_id"] +`" name="toBeRemovedItem" checked><label class="form-check-label ps-3" for="toBeRemovedItem">`+ menuItem["menuName"] +`</label></li>`
                        }
                    }
                })
                removeList.innerHTML = checkedRowItems.join('');
            }
            else removeList.innerHTML = "<h2><b class='p-3 text-danger'>No Items Selected</b></h2>";
        }
        else {
            for(row of checkRows) row.checked = false;
            checkedRowsArray = [];  
            removeList.innerHTML = "<h2><b class='p-3 text-danger'>No Items Selected</b></h2>";
        }
    }

    function addRow(){
        var nextRow = inputTable.rows.length - 1;
        var newRow = `<tr id="row`+ nextRow +`" name="stockInRow">
            <td><input type="text" class="form-control" id="inventoryName" name="inventoryName"></td>
            <td><input type="text" class="form-control" id="inventorySupplier" name="inventorySupplier"></td>
            <td>
                <select class="form-select" size="1" aria-label="selectInventoryCategory" id="selectInventoryCategory" name="inventoryCategory">`
        
        for(category of categories[0]["categoryArray"]){
            newRow+= `<option value="`+category+`">`+category+`</option>`
        }

        newRow += `</select>
            </td>
            <td>
                <select class="form-select" size="1" aria-label="selectInventoryUnit" id="selectInventoryUnit" name="inventoryUnit">`
        
        
        for(unit of units[0]["unitArray"]){
            newRow+= `<option value="`+unit+`">`+unit+`</option>`
        }
        
        newRow+= `</select>
            </td>
            <td><input type="number" min="1" step="any" class="form-control" id="inventoryQuantity" name="inventoryQuantity"></td>
        </tr>`;
        $("#inputTable tbody").append(newRow);
    }

    function removeRow(){
        var currentRow = inputTable.rows.length - 2;
        console.log(currentRow);
        $('#row' + currentRow).remove();
    }

    function addCategoryRow(){
        var nextRow = editCategoryTable.rows.length;
        var toBeAddedRow = 
        `<tr id="categoryRow`+nextRow+`" name="addRow">
            <td><input hidden value="`+addCategory.value+`" name="categories">`+addCategory.value+`</td>
            <td>
                <a class="btn btn-sm text-danger h-25" id="removeCategory" onclick="removeCategoryRow(`+nextRow+`)"><i class="fas fa-minus-circle"></i></a>
            </td>
        </tr>`;
        addCategory.value = "";
        $("#categoryTable tbody").append(toBeAddedRow);
    }

    function removeCategoryRow(rowNumber){
        var row = rowNumber;
        $("#categoryRow"+row).remove();
    }

    function reloadCategories(){
        $("#categoryTable tbody tr").remove();
        var id = 1;
        for(category of categories[0]["categoryArray"]){
            var toBeAddedRow = `<tr id="categoryRow`+id+`">
                <td><input hidden value="`+category+`" name="categories">`+category+`</td>
                <td>
                    <a class="btn btn-sm text-danger h-25" id="removeCategory" onclick="removeCategoryRow(`+id+`)"><i class="fas fa-minus-circle"></i></a>
                </td>                
            </tr>`
            $("#categoryTable tbody").append(toBeAddedRow);
            id++;
        }
    }

    editCategoryModal.addEventListener('hidden.bs.modal', function(event){
        addCategory.value = "";
        reloadCategories();
    });

    function addUnitRow(){
        var nextRow = editUnitTable.rows.length;
        var toBeAddedRow = 
        `<tr id="unitRow`+nextRow+`" name="addRow">
            <td><input hidden value="`+addUnit.value+`" name="units">`+addUnit.value+`</td>
            <td>
                <a class="btn btn-sm text-danger h-25" id="removeUnit" onclick="removeUnitRow(`+nextRow+`)"><i class="fas fa-minus-circle"></i></a>
            </td>
        </tr>`;
        addUnit.value = "";
        $("#unitTable tbody").append(toBeAddedRow);
    }

    function removeUnitRow(rowNumber){
        var row = rowNumber;
        $("#unitRow"+row).remove();
    }

    function reloadUnits(){
        $("#unitTable tbody tr").remove();
        var id = 1;
        for(unit of units[0]["unitArray"]){
            var toBeAddedRow = `<tr id="unitRow`+id+`">
                <td><input hidden value="`+unit+`" name="units">`+unit+`</td>
                <td>
                    <a class="btn btn-sm text-danger h-25" id="removeUnit" onclick="removeUnitRow(`+id+`)"><i class="fas fa-minus-circle"></i></a>
                </td>                
            </tr>`
            $("#unitTable tbody").append(toBeAddedRow);
            id++;
        }
    }

    editUnitsModal.addEventListener('hidden.bs.modal', function(event){
        addUnit.value = "";
        reloadUnits();
    });
</script>